<div class="columns fill-white radius-50 space-75-top-bottom space-100-left-right">
	<div class="inline-middle">
		<div class="h6 text-neutral-2">Browse By</div>
	</div>
	<div class="inline-middle large-offset-1">
		<div class="container block">
			<div class="inline-middle space-50-left">
				<div class="text-right small strong text-neutral-2">PROJECTS</div>
				<div class="dropdown">
					<select name="project">
						<option value="Dasta Concerto">Dasta Concerto</option>
						<option value="ABC">ABC</option>
						<option value="XYZ">XYZ</option>
					</select>
				</div>
			</div>
			<div class="inline-middle space-50-left">
				<div class="text-right small strong text-neutral-2">CATEGORY</div>
				<div class="dropdown">
					<select name="project">
						<option value="Dasta Concerto">Residential</option>
						<option value="ABC">Industrial</option>
						<option value="XYZ">Apartmental</option>
					</select>
				</div>
			</div>
			<div class="inline-middle space-50-left">
				<div class="text-right small strong text-neutral-2">YEAR</div>
				<div class="dropdown">
					<select name="project">
						<option value="Dasta Concerto">2018</option>
						<option value="ABC">2019</option>
						<option value="XYZ">2020</option>
						<option value="ABC">2021</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="post radius-50 fill-white">
	<img src="/media/image.jpg" alt="Building Image" width="" height="">
	<div class="container radius-50 space-100-top-bottom space-100-left-right">
		<div>
			<div class="h6 strong">Designing a clubhouse amidst nature</div>
		</div>
		<div class="space-25-top-bottom">
			<p>This holiday home seamlessly blends indoors & outdoors. French doors & expansive decks bring the coffee estate in, offering a serene escape. A unique, trough-like roof washes the interior with natural light, further blurring the lines betw...</p>
		</div><br>
		<div class="container">
			<div class="inline-middle">
				<div class="small">Article - 12/09/2024 &nbsp; Dosta Concerto &nbsp; Residential</div>
			</div>
			<div class="inline-middle large-offset-4">
				<div class="strong label">EXPLORE</div>
			</div>
		</div>
	</div>
</div>