<div class="inline-middle">
	<h2>Browse By</h2>
</div>
<div class="inline-middle">
	<div class="container">
		<div class="inline-middle">
			<p>PROJECTS</p>
			<div class="dropdown">
				<select name="project" style="border: 1px solid #000; height: 30px; color: black;">
					<option value="Dasta Concerto">Dasta Concerto</option>
					<option value="ABC">ABC</option>
					<option value="XYZ">XYZ</option>
				</select>
			</div>
		</div>
		<div class="inline-middle">
			<p>CATEGORY</p>
			<div class="dropdown">
				<select name="project" style="border: 1px solid #000; height: 30px; color: black;">
					<option value="Dasta Concerto">Residential</option>
					<option value="ABC">Industrial</option>
					<option value="XYZ">Apartmental</option>
				</select>
			</div>
		</div>
		<div class="inline-middle">
			<p>YEAR</p>
			<div class="dropdown">
				<select name="project" style="border: 1px solid #000; height: 30px; color: black;">
					<option value="Dasta Concerto">2018</option>
					<option value="ABC">2019</option>
					<option value="XYZ">2020</option>
					<option value="ABC">2021</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class="post" style="border: 1px solid #000; border-radius: 10px;">
	<img style="border-radius: 10px 10px 0px 0px;" src="/media/image.jpg" alt="Building Image" width="560px" height="367px">
	<div class="container space-100-top-bottom space-25-left-right">
		<div class="space-25-bottom">
			<h1>Designing a clubhouse amidst nature</h1>
		</div><br>
		<div class="space-25-bottom">
			<p>This holiday home seamlessly blends indoors & outdoors. French doors & expansive decks bring the coffee estate in, offering a serene escape. A unique, trough-like roof washes the interior with natural light, further blurring the lines betw...</p>
		</div><br>
		<div class="container">
			<div class="inline-middle">
				<p>Article - 12/09/2024 &nbsp; Dosta Concerto &nbsp; Residential</p>
			</div>
			<div class="inline-middle large-offset-1">
				<p>EXPLORE</p>
			</div>
		</div>
	</div>
</div>