<div class="filter columns small-12 space-200-bottom">
	<div class="filter-bar row fill-white radius-50 space-75-top-bottom space-75-left-right">
		<div class="columns large-3 inline-middle">
			<div class="h6 text-neutral-2">Browse By</div>
		</div>
		<div class="columns large-9 text-right inline-middle">
			<div class="row">
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">PROJECTS</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">Dasta Concerto</option>
							<option value="ABC">ABC</option>
							<option value="XYZ">XYZ</option>
						</select>
					</div>
				</div>
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">CATEGORY</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">Residential</option>
							<option value="ABC">Industrial</option>
							<option value="XYZ">Apartmental</option>
						</select>
					</div>
				</div>
				<div class="inline-middle space-50-left">
					<div class="small strong text-neutral-2">YEAR</div>
					<div class="dropdown">
						<select class="text-black" name="project">
							<option value="Dasta Concerto">2018</option>
							<option value="ABC">2019</option>
							<option value="XYZ">2020</option>
							<option value="ABC">2021</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="posts columns small-12 space-200-bottom">
	<div class="post radius-50 fill-white">
		<img src="/media/image.jpg" alt="Building Image" width="" height="">
		<div class="space-100">
			<div class="title h6 strong">Designing a clubhouse amidst nature</div>
			<div class="description p space-25-top-bottom">
				<p>This holiday home seamlessly blends indoors & outdoors. French doors & expansive decks bring the coffee estate in, offering a serene escape. A unique, trough-like roof washes the interior with natural light, further blurring the lines betw...</p>
			</div>
			<div class="meta row space-50-top">
				<div class="columns small-9 inline-middle">
					<span class="small space-min-right text-neutral-2">Article - 12/09/2024</span>
					<span class="meta-purple small space-min-right">Dasta Concerto</span>
					<span class="meta-pink small space-min-right">Residential</span>
				</div>
				<div class="columns small-3 inline-middle text-right">
					<div class="meta-pink label strong text-uppercase">Explore &nbsp;&nbsp;<i class="fa-icon fa-solid fa-play inline-bottom h6"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>