<!-- Header Section -->
<header>
    <div class="container">
        <div class="row space-100-top-bottom">
            <div class="columns large-4 inline-middle">
                <img class="block" src="/media/logo.jfif" alt="Logo" height="96" width="340px">
            </div>
            <div class="columns large-7 large-offset-1 inline-middle">
                <a class="first-nav strong space-50" href="#everything">Everything</a>
                <a class="mid-nav strong space-50" href="#services">Services</a>
                <a class="mid-nav strong space-50" href="#project">Project</a>
                <a class="mid-nav strong space-50" href="#about">About</a>
                <a class="strong space-50 text-black" href="tel:+91-80415-10310">+91 8041510310</a>
            </div>
        </div>
    </div>
</header>
<!-- END: Header Section -->



<!-- Menu Section -->
{% comment %} <section id="menu-section" class="menu-section position-relative hidden" style="box-shadow: 0 0 0 1px var(--neutral-2), 0 0 5px 1px var(--neutral-3); z-index: 9;">
	<div class="container">
		<div class="row space-75-top-bottom">
			<div class="logo columns small-8 medium-5 large-3 inline-middle" style="font-size: 0;">
				<a class="inline-block" href="/">
					<img class="block" src="media/logo-combination-eng.png" width="" height="">
				</a>
			</div>
			<div class="logo columns small-4 medium-7 large-9 text-right inline-middle hide-small">
				<a href="tel:+919740711696" class="text-blue h2 strong">+91-97407-11696</a>
			</div>
		</div>
	</div>
</section> {% endcomment %}
<!-- END: Menu Section -->