<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />

	<title>{{ title | default: 'Bharat Glass & Crockeries' }}</title>
    <base href="/">
	
	<!-- Metadata -->
	<!-- Short description of the document (limit to 150 characters) -->
	<!-- This content *may* be used as a part of search engine results. -->
	<meta name="description" content="Bharat Glass & Crockeries is your comprehensive hospitality partner, providing Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, and Housekeeping supplies, along with Customised Commercial Kitchens and Turnkey Project Management solutions.">

	<!-- Authors -->
	<!-- Links to information about the author(s) of the document -->
	<meta name="author" content="Bharat Glass & Crockeries">
	<link rel="author" href="humans.txt">

	<!-- SEO -->
	<!-- Control the behavior of search engine crawling and indexing -->
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="media/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="media/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="media/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="media/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="media/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="media/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="media/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="media/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="media/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="media/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png">
	<link rel="manifest" href="media/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#444444">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

	<!-- ~ iOS ~ -->
	<!-- Disable automatic detection and formatting of possible phone numbers -->
	<meta name="format-detection" content="telephone=no">
	<!-- Launch Screen Image -->
	<!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
	<!-- Launch Icon Title -->
	<meta name="apple-mobile-web-app-title" content="{{ title | default: 'Bharat Glass & Crockeries' }}">
	<!-- Enable standalone (full-screen) mode -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Status bar appearance (has no effect unless standalone mode is enabled) -->
	<meta name="apple-mobile-web-app-status-bar-style" content="default">

	<!-- ~ Android ~ -->
	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">
	<!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->

	<!-- Social -->
	<!-- Facebook Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title | default: 'Bharat Glass & Crockeries' }}">
	<meta property="og:description" content="Bharat Glass & Crockeries is your comprehensive hospitality partner, providing Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, and Housekeeping supplies, along with Customised Commercial Kitchens and Turnkey Project Management solutions.">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">

	<!-- Schema.org / Google+ -->
	<meta itemprop="name" content="{{ title | default: 'Bharat Glass & Crockeries' }}">
	<meta itemprop="description" content="Bharat Glass & Crockeries is your comprehensive hospitality partner, providing Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, and Housekeeping supplies, along with Customised Commercial Kitchens and Turnkey Project Management solutions.">
	<meta itemprop="image" content=" ">

	<!-- Stylesheet -->
	<!-- Base -->
	<link rel="stylesheet" type="text/css" href="css/1_normalize.css">
	<link rel="stylesheet" type="text/css" href="css/2_base.css">
	<link rel="stylesheet" type="text/css" href="css/3_grid.css">
	<link rel="stylesheet" type="text/css" href="css/4_helper.css">
	<link rel="stylesheet" type="text/css" href="css/5_stylescape.css">

	<!-- Modules -->
	<link rel="stylesheet" type="text/css" href="css/modules/video-embed.css">
	<link rel="stylesheet" type="text/css" href="css/modules/modal-box.css">

	<!-- Pages + Sections + Modals -->
	<link rel="stylesheet" type="text/css" href="css/pages/page.css">
	<link rel="stylesheet" type="text/css" href="css/pages/home.css">
	<link rel="stylesheet" type="text/css" href="css/pages/catalogue.css">
	<link rel="stylesheet" type="text/css" href="css/pages/modal/modal-menu.css">
	<link rel="stylesheet" type="text/css" href="css/pages/section/sample-section.css">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rajdhani:wght@400;700&display=swap" rel="stylesheet">
	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Typing JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
	<!-- Smooth Scroll JS -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/jump.js/dist/jump.min.js"></script> -->
</head>

<body class="body" id="body">

<!--  ★  MARKUP GOES HERE  ★  -->

<div id="page-wrapper"><!-- Page Wrapper -->

	<!-- Navigation -->

	<div id="page-content"><!-- Page Content -->





		