<div class="sidebar-heading space-100-bottom h3">Architecture that Inspires and Endures</div>
<div class="sidebar-para space-150-bottom h6">Rooted in Human-Centric Design, our unique approach combines functionality with timeless beauty!</div>
<div class="form fill-white space-150-left-right space-150-top-bottom radius-50">
	<form action="" method="post">
		<div class="form-heading h6 strong text-red">Sign-up for a FREE<br>Online Consultation!</div>
		<div class="form-fields space-25-top">
			<label class="block space-25-top" for="fullName">
				<span class="small strong inline space-min-bottom">Full Name</span>
				<input class="input-field block" type="text" name="fullName">
			</label>
			<label class="block space-25-top" for="email">
				<span class="small strong inline space-min-bottom">Email ID</span>
				<input class="input-field block" type="text" name="email">
			</label>
			<label class="block space-25-top" for="phone">
				<span class="small strong inline space-min-bottom">Phone Number <span class="w-400">(Optional: Request a Call-Back)</span></span>
				<input class="input-field block" type="text" name="phone">
			</label>
			<label class="block space-25-top" for="phone">
				<span class="small strong inline space-min-bottom invisible">Submit</span>
				<button class="button block strong text-left" type="submit">Send</button>
			</label>
		</div>
	</form>
</div>
<div class="space-150-top">
	<p class="block strong">Address</p>
	<p class="block">No.9, 39th Cross, 4th 'T' Block,<br>Jayanagar, Bengaluru - 560041.</p>
	<a class="em" href="https://www.google.com" target="_blank">Open in Google Maps</a>
</div>
<div class="space-100-top">
	<p class="block strong">Phone</p>
	<a class="text-underline" href="tel:+91 8041510310" target="_blank">+91 8041510310</a><br>
	<a class="text-underline" href="tel:+91 9886466930" target="_blank">+91 9886466930</a>
</div>
<div class="space-100-top">
	<p class="block strong">Email</p>
	<a class="text-underline" href="mailto:design-consult@greyscale.in" target="_blank">design-consult@greyscale.in</a>
	<a class="text-underline" href="mailto:info@greyscale.in" target="_blank">info@greyscale.in</a><br>
	<a class="text-underline" href="mailto:withus@greyscale.in" target="_blank">withus@greyscale.in</a>
</div>
<div class="space-100-top">
	<p class="block strong">Quick Links</p>
	<a class="text-underline" href="#">Greyscale Stories</a><br>
	<a class="text-underline" href="#">About Us</a><br>
	<a class="text-underline" href="#">For Home Owners</a><br>
	<a class="text-underline" href="#">For Builders</a><br>
	<a class="text-underline" href="#">For Students</a>
</div>