<div class="space-100-bottom"><h1 class="h3">Architecture that Inspires and Endures</h1></div>
<div class="space-100-bottom"><p class="h6">Rooted in Human-Centric Design, our unique approach combines functionality with timeless beauty!</p></div>
<div class="form fill-white space-75-left-right space-100-top-bottom radius-50">
	<form action="" method="post">
		<div class="h6 strong text-red">Sign-up for a FREE<br>Online Consultation!</div>
		<div class="form-fields space-25-top">
			<label class="block space-25-top" for="fullName">
				<span class="small strong inline space-min-bottom">Full Name</span>
				<input class="input-field block" type="text" name="fullName">
			</label>
			<label class="block space-25-top" for="email">
				<span class="small strong inline space-min-bottom">Email ID</span>
				<input class="input-field block" type="text" name="email">
			</label>
			<label class="block space-25-top" for="phone">
				<span class="small strong inline space-min-bottom">Phone Number <span class="w-400">(Optional : Request a Call-Back)</span></span>
				<input class="input-field block" type="text" name="phone">
			</label>
			<label class="block space-25-top" for="phone">
				<span class="small strong inline space-min-bottom invisible">Submit</span>
				<button class="button block fill-red" type="submit">Send</button>
			</label>
				
		</div>
	</form>
</div>
<div class="space-150-top">
	<p class="block strong">Address</p>
	<p class="block">No.9, 39th Cross, 4th 'T' Block,<br>Jayanagar, Bengaluru - 560041.</p>
	<p class="em"><a href="https://www.google.com" target="_blank">Open in Google Maps</a></p>
</div>
<div class="space-100-top">
	<p class="block strong">Phone</p>
	<p class="block"><a href="tel:+91 8041510310" target="_blank">+91 8041510310</a></p>
	<p><a href="tel:+91 9886466930" target="_blank">+91 9886466930</a></p>
</div>
<div class="space-100-top">
	<p class="block strong">Email</p>
	<p class="block"><a href="mailto:design-consult@greyscale.in" target="_blank">design-consult@greyscale.in</a></p>
	<p class="block"><a href="mailto:info@greyscale.in" target="_blank">info@greyscale.in</a></p>
	<p><a href="mailto:withus@greyscale.in" target="_blank">withus@greyscale.in</a></p>
</div>
<div class="space-100-top">
	<p class="block strong">Quick Links</p>
	<p class="block"><a href="#">Greyscale Stories</a></p>
	<p class="block"><a href="#">About Us</a></p>
	<p class="block"><a href="#">For Home Owners</a></p>
	<p class="block"><a href="#">For Builders</a></p>
	<p class="block"><a href="#">For Students</a></p>
</div>